body{
    padding: 0;
    margin: 0;
}
h1,p{
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}
button{
    display: block;
    margin: 0 auto;
    color:white;
    background-color: black;
    margin-top: 3rem;
}
.container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}